body {
    font-family: 'Roboto', Arial, sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

  }

/* Navigation Bar */

nav {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
nav .logo {
    color: #FF0000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: #FF0000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #FF0000;
    color: white;
}

.konpaira{
  font-size: 35px;
}

.banner{
  background-image: url('https://cdn.discordapp.com/attachments/885103849831030785/1183968906512187544/6.png?ex=658a43f8&is=6577cef8&hm=07d583bc6d6e3e5e4edae6698171b6a9b70f20ab935e688e02e525dbbd8aa702&'); 
  background-size: cover; 
  height: 100vh;
  background-position: fixed;


}

.content{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color:#FF0000;
  width: 600px;
}

.paragraph{
  text-align: justify;
}


.gundam{
  font-family: 'Oswald', Arial, sans-serif;;
  font-size: 100px;
  color: #0051FF;
  margin-top: 0;
}
  
.sBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fff23d;
  border: none;
  border-radius: 15px;
  width: 150px;
    
}

.sBtn:hover {
  background-color: #b9b24c;
}

.sBtn:active{
  background-color: #b9b24c;
  transform: translateY(4px);
}





/* Compiler */

.bg{
  background-image: url('https://cdn.discordapp.com/attachments/885103849831030785/1184049607437725737/406819001_2596424290532573_6388115346002890855_n.png?ex=658a8f20&is=65781a20&hm=4f237c93828c3af864aacf929511a887b22a286a8e17b4c9c5cbe776214882c1&');
  background-size: cover; 
  height: 100vh;
  background-position: fixed;
}


.center-container{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.float-child{
  width: auto;
  float: left;
  height: 80%;

}

.left-div{
  margin-right: 50px;
  padding-top: 100px;
 
}

.enter{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.center-div{
  background-color: #000000;
  width: 600px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  
}

.right-div{
  background-color: aqua;
}

.results{
  height: 50px;
  background: red;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 40px;
}

.text-area{
  margin-top: 20px;
}

.buttons{
  background-color: #0051FF;
  width: 100%;
  margin-top: 20px;
}

.btn{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 13px 23px;

  background-color: #FFD500;
  color: #ffffff;
  margin: 10px;
  width: 160px;
  font-size: 20px;
  text-align: center;
}

.btn:hover {
      background: #f80000;
}





/* Footer */

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}





